# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=erp_sas
DB_PASSWORD=ErpSas2026!
DB_NAME=erp_sas
DATABASE_URL=postgresql://erp_sas:ErpSas2026!@localhost:5432/erp_sas

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# API
NODE_ENV=development
API_PORT=3001
APP_URL=http://localhost:5173
API_URL=http://localhost:3001

# JWT
JWT_SECRET=ErpSAS2026SuperSecretKey!ChangeInProduction
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# App
APP_NAME=ERP SAS
APP_VERSION=1.0.0
